.this-year
    +card-container
    
    &__content
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center

        .chart-ct
            display: flex
            align-items: center
    

    &__data-row
        width: 200px
        padding: 8px 0
        display: flex
        justify-content: space-between



